<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Bogus" version="9.0.2" targetFramework="net45" />
  <package id="EPPlus" version="4.5.3.3" targetFramework="net46" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net45" />
  <package id="OpenCover" version="4.7.922" targetFramework="net46" />
</packages>